<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<meta charset="utf8">
<title>Sortie</title>
</head>
<header> 
<ul class="nav nav-tabs">

  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/./sortie">Sorties</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/./participant">Participants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/./evaluation">Evaluations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/./recommandation">Recommandations</a>
  </li>
  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Liens Restful</a>
      <ul class="dropdown-menu">
        <li><a class="nav-link" href="/./api/sortie">Sorties Restful</a></li>
        <li><a class="nav-link" href="/./api/participant">Participants Restful</a></li>
        <li><a class="nav-link" href="/./api/evaluation">Evaluations Restful</a></li>
        <li><a class="nav-link" href="/./api/recommandation">Recommandations Restful</a></li>
      </ul>
    </li>
  <li class="nav-item">
    <a class="btn btn-outline-success" href="/./login">Changer d'utilisateur</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/./admin">Gestion des admins</a>
  </li>
 
</ul>


</header>
<body>
<div class="container">
  <div class="row">
    <div class="col-0.2"> 
    </div>
   
    <div class="col">
    
    <h3 align="center" >Liste des sorties</h3>
    
    <table class="table table-bordered">
      <thead>
      <tr><th><a href="?sort=id">id</a></th><th><a href="?sort=titre">titre</a></th><th><a href="?sort=destination">destination</a></th><th><a href="?sort=depart">départ</a></th><th><a href="?sort=retour">retour</a></th><th><a href="?sort=admin.nomComplet">responsable</a></th><th><a href="?sort=description">description</a></th><th><a href="?sort=prix">prix</a></th><th></th><th></th></tr>
      </thead>
      <tbody>
      <tr th:each = "sortie : ${sorties}">
      	<td th:text="${sortie.id}"></td>
      	<td th:text="${sortie.titre}"></td>
      	<td th:text="${sortie.destination}"></td>
      	<td th:text="${sortie.depart}"></td>
      	<td th:text="${sortie.retour}"></td>
      	<td th:text="${sortie.admin.nomComplet}"></td>
      	<td th:text="${sortie.description}"></td>
      	<td th:text="${sortie.prix}"></td>
      	
      	
      	<td> <a class="btn btn-outline-danger" th:href="@{/sortie/delete/{id}(id=${sortie.id})}">Supprimer</a></td>
      	<td> <a class="btn btn-outline-warning" th:href="@{/sortie/edit/{id}(id=${sortie.id})}">Modifier</a></td>
      	<!-- Button trigger modal -->
		<td><a class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop" th:href="@{/sortie/edit/{idEdit}(idEdit=${sortie.id})}">Modifier test modal</a></td>
      	
      	</tr>
      </tbody>
      
      
      
      </table>
      
          
    
    
    </div>


	<!-- Modal -->
			<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
				data-bs-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticBackdropLabel">Modification</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div th:replace="sortieedit"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col">
     
     <form th:action="@{/sortie/add}" th:object="${sortie}" method="post">
      
      <div class="input-group mb-3">
      	<span class="input-group-text">titre</span>
      	<input class="form-control" type="text" th:field="*{titre}" name="titre">
      <div class="alert alert-warning" th:if="${#fields.hasErrors('titre')}" th:errors="*{titre}"></div>
      </div>
      <div class="input-group mb-3">
      	<span class="input-group-text">destination</span>
      	<input class="form-control" type="text" th:field="*{destination}" name="destination">
      <div class="alert alert-warning" th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}"></div>
      </div>
      <div class="input-group mb-3">
      	<span class="input-group-text">départ</span>
      	<input class="form-control" type="text" th:field="*{depart}" name="depart">
      	<div class="alert alert-warning" th:if="${#fields.hasErrors('depart')}" th:errors="*{depart}"></div>
      </div>
      <div class="input-group mb-3">
      	<span class="input-group-text">retour</span>
      	<input class="form-control" type="text" th:field="*{retour}" name="retour">
      	<div class="alert alert-warning" th:if="${#fields.hasErrors('retour')}" th:errors="*{retour}"></div>

      </div>
      <div class="input-group mb-3">
      	<span class="input-group-text">responsable</span>
      	<select class="form-control" th:name="nomAdmin">
      		<option th:each="admin: ${admins}"
      				th:value="${admin.nomComplet}"
      				th:text="${admin.nomComplet}"/>
      	</select>

      </div>
      <div class="input-group mb-3">
      	<span class="input-group-text">description</span>
      	<input class="form-control" type="text" th:field="*{description}" name="description">
      	<div class="alert alert-warning" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>

      </div>
      <div class="input-group mb-3">
      	<span class="input-group-text">prix</span>
      	<input class="form-control" type="number" th:field="*{prix}" name="prix">
      	<div class="alert alert-warning" th:if="${#fields.hasErrors('prix')}" th:errors="*{prix}"></div>

      </div>
      
      <button class="btn btn-outline-dark" type="submit">ajouter</button>
      
      </form>
     
    </div>
    <div class="col-0.2"> 
    </div>
  </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>